<div class="info a-fadein">
  <div class="avatar">
    <div class="image">
      <!-- [fromjs] <img src="@/images/avatars/amzrk2_256p.(jpg|webp)" /> -->
    </div>
  </div>
  <div class="content">
    <span class="name" aria-label="Nickname">DSRKafuU</span>
    <span class="id" aria-label="User ID">amzrk2</span>
    <div class="ctrl">
      <a class="btn" href="https://blog.amzrk2.cc" target="_blank" aria-label="Blog">
        <%= require('../svg/blog.svg') %>
      </a>
      <a class="btn" href="https://github.com/amzrk2" target="_blank" aria-label="GitHub">
        <%= require('../svg/github.svg') %>
      </a>
      <a class="btn" href="https://twitter.com/amzrk2" target="_blank" aria-label="Twitter">
        <%= require('../svg/twitter.svg') %>
      </a>
      <a class="btn" href="https://bgm.tv/user/amzrk2" target="_blank" aria-label="bilibili">
        <%= require('../svg/tv-retro.svg') %>
      </a>
      <a
        class="btn"
        href="https://steamcommunity.com/id/amzrk2/"
        target="_blank"
        aria-label="Steam"
      >
        <%= require('../svg/steam.svg') %>
      </a>
    </div>
  </div>
</div>
