<div class="info a-fadein">
  <div class="avatar">
    <div class="image">
      <!-- [fromjs] <img src="@/cdn/images/avatars/dsrkafuu_256p.(jpg|webp)" /> -->
    </div>
  </div>
  <div class="content">
    <span class="name" aria-label="Nickname">DSRKafuU</span>
    <span class="bio" aria-label="User Bio">Internet for people, not profit</span>
    <div class="ctrl">
      <a
        class="btn"
        href="https://blog.dsrkafuu.su"
        target="_blank"
        rel="noopener"
        aria-label="Blog"
      >
        <%= require('../svg/blog.svg') %>
      </a>
      <a
        class="btn"
        href="https://github.com/dsrkafuu"
        target="_blank"
        rel="noopener"
        aria-label="GitHub"
      >
        <%= require('../svg/github.svg') %>
      </a>
      <a
        class="btn"
        href="https://twitter.com/dsrkafuu"
        target="_blank"
        rel="noopener"
        aria-label="Twitter"
      >
        <%= require('../svg/twitter.svg') %>
      </a>
      <a
        class="btn"
        href="https://bgm.tv/user/amzrk2"
        target="_blank"
        rel="noopener"
        aria-label="bilibili"
      >
        <%= require('../svg/tv-retro.svg') %>
      </a>
      <a
        class="btn"
        href="https://steamcommunity.com/id/dsrkafuu/"
        target="_blank"
        rel="noopener"
        aria-label="Steam"
      >
        <%= require('../svg/steam.svg') %>
      </a>
    </div>
  </div>
</div>
