<footer class="container">
  <a class="btn hash" href="https://github.com/dsrkafuu/dsr-index/actions" target="_blank">
    v<%= __webpack_VERSION__ %> build <%= __webpack_HASH__ %>
  </a>
  <% if (__webpack_ICP__) { %>
  <a class="btn small icp" href="https://beian.miit.gov.cn" target="_blank">
    <%= __webpack_ICP__ %>
  </a>
  <% } %> <% if (__webpack_NIS__) { %>
  <a
    class="btn small nis"
    href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=<%= __webpack_NIS__.split(' ')[1] %>"
    target="_blank"
  >
    <img src="<%= require('@/assets/nis.png') %>" alt="NIS" />
    <%= __webpack_NIS__ %>
  </a>
  <% } %>
</footer>
