<head>
  <!-- base meta-->
  <meta charset="UTF-8" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover" />
  <meta content="no-transform" http-equiv="Cache-Control" />
  <meta content="no-siteapp" http-equiv="Cache-Control" />

  <!-- seo info -->
  <title>DSRKafuU</title>
  <meta name="description" content="DSRKafuU's home page." />
  <meta name="twitter:card" content="summary" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="DSRKafuU" />
  <meta property="og:description" content="DSRKafuU's home page." />
  <!-- prettier-ignore -->
  <meta property="og:image" content="https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn@1.1/images/opengraph/dsrkafuu_og.jpg" />
  <script type="application/ld+json">
    <%= JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'Person',
      name: 'DSRKafuU',
      url: 'https://dsrkafuu.su',
      description: "DSRKafuU's home page.",
      image: 'https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn@1.1/images/opengraph/dsrkafuu_og.jpg',
      sameAs: ['https://twitter.com/dsrkafuu', 'https://github.com/dsrkafuu'],
    }) %>
  </script>
  <!-- prettier-ignore -->
  <link rel="apple-touch-icon" sizes="180x180" href="<%= __webpack_BASE__ %>apple-touch-icon.png" />
  <!-- prettier-ignore -->
  <link rel="icon" type="image/png" sizes="32x32" href="<%= __webpack_BASE__ %>favicon-32x32.png" />
  <!-- prettier-ignore -->
  <link rel="icon" type="image/png" sizes="16x16" href="<%= __webpack_BASE__ %>favicon-16x16.png" />
  <!-- prettier-ignore -->
  <link rel="shortcut icon" href="<%= __webpack_BASE__ %>favicon.ico">

  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= __webpack_GA__ %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '<%= __webpack_GA__ %>');
  </script>
</head>
