<head>
  <!-- base meta-->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- seo info -->
  <title>DSRKafuU</title>
  <meta name="description" content="DSRKafuU's home page" />
  <!-- prettier-ignore -->
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('../images/favicons/apple-touch-icon.png') %>" />
  <!-- prettier-ignore -->
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('../images/favicons/favicon-32x32.png') %>" />
  <!-- prettier-ignore -->
  <link rel="shortcut icon" href="<%= require('../images/favicons/favicon.ico') %>">
  <!-- prettier-ignore -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= __webpack_GA__ %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '<%= __webpack_GA__ %>');
  </script>
</head>
